/* src/Carousel.css */

.carousel-container {
    max-width: 1440px;
    overflow: hidden;
    margin: auto; /* Center the carousel */
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 431px;
}

.carousel-item {
    min-width: 100%; /* Each item takes the full width */
    box-sizing: border-box;
    height: 386px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    object-fit:contain;
    align-items: center;
    border-radius: 10px;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #bbb; /* Default color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: orange; /* Active color */
}
