/* src/Carousel.css */

.carousel-container {
    max-width: 1440px;
    overflow: hidden;
    margin: auto; 
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 431px;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 386px; 
    display: flex;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    border-radius: 20px !important;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px; /* Add spacing for pagination */
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: orange; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .carousel-inner {
        height: 300px;
    }

    .carousel-item {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .carousel-inner {
        height: 250px; /* Further reduced height for smaller screens */
    }

    .carousel-item {
        height: 180px; /* Further reduced height for smaller screens */
    }
}
